
<div class="card">


<div class="card-body">

<div class="accordion" id="accordionExample">
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Arrendatario
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">


            <form [formGroup]="fgArrendatario">
                <div class="form-group">
                    <label for="">Apellido Paterno</label>
                    <input formControlName="apellidoPaterno" type="text"  class="form-control" placeholder="" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                  </div>
                <div class="form-group">
                    <label for="">Apellido Materno</label>
                    <input formControlName="apellidoMaterno" type="text"  class="form-control" placeholder="" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                  </div>
                <div class="form-group">
                  <label for="">Nombre</label>
                  <input type="text" formControlName="nombre"  class="form-control" placeholder="" aria-describedby="helpId">
                  <small id="helpId" class="text-muted">Help text</small>
                </div>

                <div class="form-group">
                    <label for="">Direccion</label>
                    <input type="text"  formControlName="direccion" class="form-control" placeholder="" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <label for="">Municipio</label>
                    <input type="text" formControlName="municipio"  class="form-control" placeholder="" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <label for="">Colonia</label>
                    <input type="text" formControlName="colonia" class="form-control" placeholder="" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>
            </form>   


           </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Propiedad
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">

            <form [formGroup]="fgPropiedad">
                <div class="form-group">
                    <label for="">Propiedad </label>
                    <select class="form-control" formControlName="propiedadId" >
                        <option>Seleccione</option>
                        <option [ngValue]="pi.id" *ngFor="let pi of this.propiedades">{{pi.alias}} - {{pi.direccion}}</option>
                    </select>
                </div>
            </form>

        </div>
      </div>
    </div>
   
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Fiador
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">

            <form [formGroup]="fgFiador">
                <div class="form-group">
                    <label for="">Apellido Paterno</label>
                    <input formControlName="apellidoPaterno" type="text"  class="form-control" placeholder="" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                  </div>
                <div class="form-group">
                    <label for="">Apellido Materno</label>
                    <input formControlName="apellidoMaterno" type="text"  class="form-control" placeholder="" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                  </div>
                <div class="form-group">
                  <label for="">Nombre</label>
                  <input type="text" formControlName="nombre"  class="form-control" placeholder="" aria-describedby="helpId">
                  <small id="helpId" class="text-muted">Help text</small>
                </div>

                <div class="form-group">
                    <label for="">Direccion</label>
                    <input type="text"  formControlName="direccion" class="form-control" placeholder="" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <label for="">Municipio</label>
                    <input type="text" formControlName="municipio"  class="form-control" placeholder="" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <label for="">Colonia</label>
                    <input type="text" formControlName="colonia" class="form-control" placeholder="" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>
            </form>

        </div>
      </div>
    </div>

</div>

<div class="form-group row mt-2">
  <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block" (click)="crearContrato()" >Guardar</button>
  </div>
</div>

</div>
</div>